{% extends 'dataentry_base.html' %}
{% load i18n %}
{% load static %}
{% load formulaires %}

{% block content %}
<h2>{{Questtitre}}</h2>
<h2>Essai Personne_ID={{ pid }} </h2>
{% csrf_token %}
   <input name="pid" type="hidden" value="{{ pid }}" />
   <input name="qid" type="hidden" value="{{ qid }}" />
   <div class="tabber">

    {% for question in questions %}
        {% if question.typequestion.nom == 'TITLE' %}
            {% if forloop.counter > 1 %}
                </table></div>
            {% endif %}
                 <div class="tabbertab"><h3>{{ question.questionen|slice:"0:15" }}</h3><b>{{ question.questionen}}</b>
                 <table><tr><td></td><td></td><td></td><td></td></tr>
        {% else %}
            {% if question.id not in ascendancesF and question.id not in ascendancesM %}
                <tr><td>Ni Ni</td>
                 {% include "name_snippet.html" with typequest=question.typequestion quest=question.questionen questid=question.id pid=pid aide=question.aideen %}</tr>
            {% elif question.id in ascendancesF and question.id in ascendancesM %}
                     {% for enfant in question.question_set.all %}
                        {% if forloop.counter == 1 %}
                            <tr style="display: none;" class="child-row-{{question.parent_id}}{{question.relation}}{{question.cible}}"><td>Mere et Fille</td>
                            {% include "name_snippet.html" with typequest=question.typequestion  quest=question.questionen questid=question.id pid=pid relation=enfant.relation cible=enfant.cible aide=question.aideen %}</tr>
                        {% endif %}
                     {% endfor %}
            {% elif question.id in ascendancesM and question.id not in ascendancesF %}
                <tr class="mere"><td class="mere">Mere et NON fille</td>
                    {% for enfant in question.question_set.all %}
                        {% if forloop.counter == 1 %}
                            {% include "name_snippet.html" with typequest=question.typequestion quest=question.questionen  relation=enfant.relation cible=enfant.cible questid=question.id pid=pid aide=question.aideen %}</tr>
                        {% endif %}
                     {% endfor %}
                     {% endif %}
            {% for enfant in question.question_set.all %}
                {% if enfant.id not in ascendancesM %}
                     <tr style="display: none;" class="child-row-{{enfant.parent_id}}{{enfant.relation}}{{enfant.cible}}"><td>Enfant</td>
                        {% include "name_snippet.html" with typequest=enfant.typequestion quest=enfant.questionen questid=enfant.id pid=pid aide=enfant.aideen %}</tr>
                 {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>
{% endblock content %}



