{% extends 'blog/base.html' %}
{% load i18n %}

{% block lateral %}
<h2>{% trans "Mots clefs" %}</h2>
    <ul>
     {% for tag in tags %}
        <li><a href="{% url 'view_blog_tag' tag.slug %}">{{tag.mot_en}}</a></li>
     {% endfor %}
    </ul>

{% endblock lateral %}

{% block content %}

    {% for entree in posts %}
        <div class="post">
        <div class="date">
            {{entree.author.first_name }}, {{entree.author.last_name }} - {{ entree.posted }}
        </div>
             <h2>{{ entree.titre_en }}</h2>
             <p>{{ entree.texte_en|linebreaksbr|truncatewords:10 }} </p>
            <br />
              <a href="{% url 'blogdetail' entree.id %}">{% trans "Voir plus / Commenter" %}</a>
              <h4>{% trans "Mots clefs" %}</h4>
              <p>
              {% for tag in entree.tag.all %}
                  {{tag.mot_en}};
              {% endfor %}
              </p>
        </div>
    {% endfor %}

<div class="liens">
<a href="{% url 'entree_new' %}" class="btn-default">{% trans "Ajouter un billet" %}</a>

</div>
{% endblock content %}

{% block pagination %}
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">{% trans "précédente" %}</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} {% trans "de" %} {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">{% trans "suivante" %}</a>
        {% endif %}
    </span>

{% endblock pagination %}