{% extends 'blog/base.html' %}

{% block content %}

<div class="post">
    <div class="date">
         Publié le : {{ object.posted }} par {{object.author.first_name }}, {{object.author.last_name }}
    </div>

    <h2>{{ object.titre_en }}</h2>
     <p>{{ object.texte_en|linebreaksbr }}</p>

    <h3>Commentaires</h3>
       <ul>
        {% for commentaire in object.commentaire_set.all %}
           Commenté par : {{commentaire.author.first_name }}, {{commentaire.author.last_name }} le : {{ commentaire.posted }}
            <li>{{commentaire.texte_en}}</li>
        {% endfor %}

        </ul>
    <h3> Mots clefs</h3>
         <p>
          {% for tag in object.tag.all %}
             {{tag.mot_en}};
          {% endfor %}
           </p>
</div>
<div class="liens">
    <a href="{% url 'commentaire_new' object.id %}" class="btn-default">Commenter ce post </a>
</div>
<div class="liens">
     <a href="{% url 'blogindex' %}">Retour à la liste</a>
</div>
{% endblock content %}