{% extends 'base.html' %}
{% load i18n %}

{% block lateral %}
<h2>{% trans "Mots clefs" %}</h2>
<p>
     {% for tag in tags %}
        <a href="{% url 'view_blog_tag' tag.slug %}">{{tag.mot_en}}</a><br />
     {% endfor %}
</p>
{% endblock lateral %}

{% block content %}

    {% for entree in posts %}
        <div class="post">
        <div class="date">
            {{entree.author.first_name }}, {{entree.author.last_name }} - {{ entree.posted }}
        </div>
             <h2>{{ entree.titre_en }}</h2>
             <p>{{ entree.texte_en|safe|truncatewords:10 }}
            <br />
              <a href="{% url 'blogdetail' entree.id %}">{% trans "Voir plus / Commenter" %}</a>
            </p>
              <h4>{% trans "Mots clefs" %}</h4>
              <p>
              {% for tag in entree.tag.all %}
                  {{tag.mot_en}};
              {% endfor %}
              </p>
        </div>
    {% endfor %}

{% endblock content %}

{% block pagination %}

<div class="pagination">
{% if posts.has_other_pages %}
    {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}">&laquo;</a>
    {% else %}
       <a href="#" >&laquo;</a>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
       <a href="#" class="active"(current)>{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">&raquo;</a>
    {% else %}
       <a href="#" >&raquo;</a>
    {% endif %}
{% endif %}
</div>

{% endblock pagination %}