body  {
    margin: 0;
    font-size: 0.9em;
    font-family: Verdana,Arial,Sans,Helvetica,sans-serif;
     background-color: white;
}

p  {
    margin: 0;
    font-size: 0.9em;
    font-family: Verdana,Arial,Sans,Helvetica,sans-serif;
}

input, select, textarea {
    background-color: #E5E5E5;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.wrap {
   width:90%;
   margin:0 auto;
}

.left_col {
   float:left;
   width:74%;
}

.right_col {
   float:right;
   width:25%;
   background-color: #C2DEE7;
   border: 2px solid grey;
   border-radius: 5px;
   min-height: 320px;
}

.page-header {
    background-color: #1B3784;
    margin-top: 0;
    padding: 10px 10px 10px 40px;
    margin-bottom: 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 26pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: Verdana,Arial,Sans,Helvetica,sans-serif;
    margin-bottom: 3px;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter {
    text-transform: capitalize;
}

.date {
    float: right;
    color: #828282;
}

.date a, .date a:visited {
color: white;
font: bold 1em Arial, sans-serif;
text-decoration: none;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 90%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 5px;
    border: 2px solid grey;
    border-radius: 10px 25px;
    background-color: #E5E5E5;
    padding: 2px 10px 2px 15px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.liens {
    clear: both;
    background-color: #BFBFBF;
    color: #FFFF00;
    text-align: center;
    padding: 15px;
    border: 2px solid #1B3784;
    border-radius: 5px;
    margin-bottom: 5px;
}

.liens a, .liens a:visited {
color: #FFFFFF;
font: bold 1em Arial, sans-serif;
}

.right_col h2{
    text-align: center;
}

.footer {
    clear: both;
    background-color: #47557B;
    color: white;
    padding: 15px 70px;
    text-align: center;
    font: bold 1em Arial, sans-serif;
}

.footergauche {
   width:74%;
}

.footer a,.footer a:visited {
    color: #FFFFFF;
    font: bold 1em Arial, sans-serif;
}

.step-links a,.step-links a:visited {
    color: #FFFFFF;
    font: bold 1em Arial, sans-serif;
}

.btn-default{
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #004280;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 6px #999;
}

.btn-default:hover {background-color: #23405c}

.btn-default:active {
  background-color: #23405c;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}


