{% load static %}
<html>
    <head>
        <title>Django Blog</title>
        <link rel="stylesheet" href="{% static 'blog/style2.css' %}">
    </head>
    <body>
        <div class="page-header">
             <h1>Django Blog</h1>
        </div>
<div class="wrap">

  <div class="left_col">
      {% block content %}
      {% endblock %}
  </div>
    <div class="right_col">
       {% block lateral %}
       {% endblock %}
    </div>
</div>

<div class="footer">
      {% block pagination %}
      {% endblock %}
</div>

    </body>
</html>
